@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: #1d2833;
}
.bgGradient {
    background-image: radial-gradient(circle, #3d566e, #1d2833);
  }
.imageBG{
  background-image: url("../public/about.png");
}